<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap 的 CSS 文件 -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        .container {
            max-width: 960px;
        }
    </style>
    <title>代码生成器</title>
</head>
<body class="bg-light">

    <div class="container">
        
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">@@青杉</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://www.zyaxin.com/">博客</a></li>
                <li class="list-inline-item"><a href="https://www.cnblogs.com/qs315/">博客园</a></li>
                <li class="list-inline-item"><a href="https://github.com/qingshan315">Github</a></li>
            </ul>
        </footer>
    </div>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">
</body>
</html>

