<!doctype html>
<html lang="zh-CN">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap 的 CSS 文件 -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        .container {
            max-width: 960px;
        }
    </style>
    <title>代码生成器</title>
</head>
<body class="bg-light">

    <div class="container">
        <form>
            <div class="py-5 text-center">
                <h2>生成成功 </h2>

                <p>@Model</p>
                <a href="/codegen" class="lead">点此返回</a>
            </div>
        </form>
    </div>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">
</body>
</html>