@page
@{ Layout = "";}
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymousAttribute]
<!doctype html>
<html lang="zh-CN">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap 的 CSS 文件 -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        .container {
            max-width: 960px;
        }
    </style>
    <title>代码生成器</title>
</head>
<body class="bg-light">

    <div class="container">
        <form>
            <main>
                <div class="py-5 text-center">
                    <h2>代码生成器</h2>
                    <p class="lead">请选择你要生成的项目.</p>
                </div>

                <div class="row g-5">
                    <div class="col-md-5 col-lg-4 order-md-last">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-primary">需要生成的项目</span>
                            <span class="badge bg-primary rounded-pill">5</span>
                        </h4>
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                                <label class="form-check-label" for="flexCheckDefault">
                                    控制器
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked">
                                    控制器
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                                <label class="form-check-label" for="flexCheckDefault">
                                    控制器
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked">
                                    控制器
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked">
                                    控制器
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-8">
                        <h4 class="mb-3">配置</h4>
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label for="firstName" class="form-label">Controller命名空间</label>
                                <input type="text" name="controllerNamespace" class="form-control" id="controllerNamespace" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    必填字段
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="lastName" class="form-label">Dto命名空间</label>
                                <input type="text" name="dtoNamespace" class="form-control" id="lastName" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    必填字段
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="lastName" class="form-label">Service命名空间</label>
                                <input type="text" name="serviceNamespace" class="form-control" id="lastName" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    必填字段
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="lastName" class="form-label">IContract命名空间</label>
                                <input type="text" name="iContractNamespace" class="form-control" id="lastName" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    必填字段
                                </div>
                            </div>
                            <hr class="my-4">
                            <button class="w-100 btn btn-primary btn-lg" type="submit">生成代码</button>
                        </div>
                    </div>
                </div>
            </main>
        </form>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">@@青杉</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://www.zyaxin.com/">博客</a></li>
                <li class="list-inline-item"><a href="https://www.cnblogs.com/qs315/">博客园</a></li>
                <li class="list-inline-item"><a href="https://github.com/qingshan315">Github</a></li>
            </ul>
        </footer>
    </div>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">
</body>
</html>
