@{
    ViewData["Title"] = "Index";
}

<form action="PostCodegen" method="post">
    <main>
        <div class="py-5 text-center">
            <h2>代码生成器</h2>
            <p class="lead">请选择你要生成的项目.</p>
        </div>
        @foreach (var item in ViewBag.TableList)
        {
            <input type="checkbox" name="Tables" value="@item" /> @item
        }
        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="badge bg-primary rounded-pill">4</span>
                </h4>
                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" name="Controller" type="checkbox" value="1" id="Controller" checked>
                        <label class="form-check-label" for="Controller">
                            Controller
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" name="Dto" type="checkbox" value="1" id="Dto" checked>
                        <label class="form-check-label" for="Dto">
                            Dto
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="Service" type="checkbox" value="1" id="Service" checked>
                        <label class="form-check-label" for="Service">
                            Service
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="IContract" type="checkbox" value="1" id="IContract" checked>
                        <label class="form-check-label" for="IContract">
                            IContract
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">配置</h4>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="controllerNamespace" class="form-label">Controller命名空间</label>
                        <input type="text" name="controllerNamespace" class="form-control" id="controllerNamespace" placeholder="" value="" >
                        <div class="invalid-feedback">
                            必填字段
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="dtoNamespace" class="form-label">Dto命名空间</label>
                        <input type="text" name="dtoNamespace" class="form-control" id="dtoNamespace" placeholder="" value="" >
                        <div class="invalid-feedback">
                            必填字段
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="serviceNamespace" class="form-label">Service命名空间</label>
                        <input type="text" name="serviceNamespace" class="form-control" id="serviceNamespace" placeholder="" value="" >
                        <div class="invalid-feedback">
                            必填字段
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="iContractNamespace" class="form-label">IContract命名空间</label>
                        <input type="text" name="iContractNamespace" class="form-control" id="iContractNamespace" placeholder="" value="" >
                        <div class="invalid-feedback">
                            必填字段
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="EntityNamespace" class="form-label">实体命名空间</label>
                        <input type="text" name="EntityNamespace" class="form-control" id="EntityNamespace" placeholder="" value="" >
                        <div class="invalid-feedback">
                            必填字段
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <label for="Namespace" class="form-label">总命名空间</label>
                        <input type="text" name="Namespace" class="form-control" id="Namespace" placeholder="" value="" >
                        <div class="invalid-feedback">
                            必填字段
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">生成代码</button>
                </div>
            </div>
        </div>
    </main>
</form>